*{
   padding:0px;
   margin:0px;
}

.html{
	font-family: "Open Sans",'sans-serif';
}
	
#navigation{
	height:80px;
	padding:0px;
	background:blue;
	border-bottom:3px solid white;
}

#logo{
   margin-left:20px;
   cursor: pointer;
   font-family:'Lato';
   font-weight:bold;
   font-size:34px;
   top:15px;
   position:absolute;
   color:white;
}

#logo:hover{
	background-color:;
}

.btn{
	border:none;
	float:right;
	text-decoration: none;
	font-size:20px;
	padding: 1.6%;
	background-color: transparent;
	cursor:pointer;
	font-family: 'Lato';
	right:10px;
	font-weight:600;
	top:5px;
	position:relative;
	color:white;	
}

.btn1{
	border:none;
	float:right;
	text-decoration: none;
	font-size:20px;
	padding: 1.6%;
	background-color: transparent;
	cursor:pointer;
	font-family: 'Lato';
	right:10px;
	font-weight:600;
	top:5px;
	position:relative;
	color:white;	
	margin-right:80px;
}


.btn:hover{
	color:white;
	background-color:black;
}


.btn1:hover{
	color:white;
	background-color:black;
}

.main{
	width:100%;
	height:615px;
	background-color:blue;
	border-bottom: 4px solid white; 
}

.container{
	width:100%;
	height:700px;
}

.container1{
	float:left;
	width:33.33%;
	background-color:#FAED26;
	height: 780px;
}

.container2{
	float:left;
	width:33.33%;
	background-color:#FAED26;
	height: 780px;
}

.container3{
	float:left;
	width:33.33%;
	background-color:#FAED26;
	height:780px;
}

.container4{
	float:left;
	height:500px;
	width:100%;
	background-color:white;
}

.container6{
	float:left;
	height:500px;
	width:100%;
	background-color:purple;
}

.container5{
	float:left;
	height:200px;
	width:100%;
	background-color:black;
}

#intro{
	font-weight:bold;
	font-family: "Open Sans","sans-serif";
	top:250px;
	position:absolute;
	font-size:56px;
	color:white;
	position:absolute;
	padding-top:80px;
	padding-bottom:80px;
	background-color: ;
}

.theme{
	color:white;
	font-size: 60px;
	font-weight: bold;
	font-family:'Lato','sans-serif';
	top:100px;
	position:absolute;
}

body{
	max-width: 1366px;
	margin:auto;
}

#try{
	color:white;

